version: "3.8"
services:
  postgres:
    image: postgres:13.1
    container_name: postgres
    ports:
      - "5432:5432"
    volumes:
      - database-data:/var/lib/postgresql/data
    environment:
      - PSQL_HISTFILE=/root/log/.psql_history
      - POSTGRES_DB=psql_tmp
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
  redis:
    image: redis
    container_name: redis-expense
    ports:
      - "6379:6379"
    volumes:
      - redis:/var/lib/redis-expense/data:cached

volumes:
  redis:
    driver: local
  database-data:
    driver: local
